[Unit]
Description=Inverter services
After=network.target

[Service]
User=hildinger
Type=simple
Restart=always
RestartSec=60
VIRTUAL_ENV=/home/hildinger/energy/inverter/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=python3 /home/hildinger/energy/inverter/inverter_service.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target